body {
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  padding-top: 3.2rem;
  color: #9472e4;
}

.subtitle-sm {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer {
  background-color: #9472e4 !important;
  margin-top: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: white;
}

.footer p {
  font-weight: 600;
  font-size: 1rem;
}

.footer a {
  color: white;
  text-decoration: underline;
}
